<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="my_app">
  <head>
   <script src="angular.js"></script>
    <script src="module1_script.js"> </script>
    <link rel="stylesheet" type="text/css" href="module_stylesheet.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="my_controller">
    <h1 style="color:antiquewhite; ">choose your food to eat</h1><br>
    <!--we will not consider ,, and , , in the input-->
      <input type="text" class="{{x}}" placeholder="Enter food to eat" ng-model="food"><br><br>
      <div ng-click="choose(food)">check if too much</div><br>
        <p class="{{x}}">{{message}}</p>
  </body>
</html>

