body{
    background-image: url("background1.jpg");
    background-position: center;
    font-family: sans-serif;
    background-size: 100% 605%;
    background-repeat: no-repeat;
    
    }
div{
    border:1px solid gray;
    border-radius: 1cm;
    color: wheat;
    width: 4cm;
    text-align: center;
    cursor: pointer;
}
input.none /*changes in the border color are implemented*/
{
    border: 1px solid rgb(12, 74, 116);
    background:transparent;
    outline:none;
    height:20px;
    color: wheat;
    font-size: 14px;
}
input.red
{
    border: 1px solid red;
    background:transparent;
    outline:none;
    height:20px;
    color: wheat;
    font-size: 14px;
}
input.green
{
    border: 1px solid green;
    background:transparent;
    outline:none;
    height:20px;
    color: wheat;
    font-size: 14px;
}
/*changes in colour of the message also implemented*/
p.red{
    color:red;
}
p.green{
    color:green;
}